<?xml version="1.0" encoding="utf-8"?>
<!--
* Author : Adriano Alves
* Date : Apr 17 2016
* Project Name : PrimeNumberService
* Objective : CS311D HW6 Manifest.xml file
*             project to generate prime numbers
*             using service
*
-->
<manifest package="com.cs311d.primenumbreservice"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".PrimeNumberActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".PrimeNumbersService"
            android:enabled="true"
            android:exported="true">
        </service>

        <receiver
            android:name=".UpdateViewReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>
